<div class="row mb-3">
  <div class="col-6">
    <div class="date">
      <img src="assets/Calendar_Icon.png" class="calendar" alt="">
      <p>فلتر بالتاريخ</p>
    </div>
  </div>
  <div class="col-6 d-flex justify-content-end">
    <div class="text-under">
      <p>ملفات قيد الاعلان</p>
      <p>ملف 39</p>
    </div>
  </div>
</div>

<div class="row">
  <div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="بحث سريع، يُرجى كتابة أي كلمة هنا…"
      aria-describedby="button-addon1">
    <div class="search-div">
      <img src="assets/Search_Icon.png" class="search-btn" alt="">
    </div>
  </div>
</div>




<div class="row labels-row">
  <div class="col-lg-2 col-md-12 col-sm-12 ">الإجراء</div>
  <div class="col-lg-2 col-md-12 col-sm-12">الحكم</div>
  <div class="col-lg-3 col-md-12 col-sm-12">المدعى عليه</div>
  <div class="col-lg-3 col-md-12 col-sm-12">المدعي</div>
  <div class="col-lg-2 col-md-12 col-sm-12">الآلي والتاريخ</div>
</div>


<div class="col">
  <div class="row mt-3 item-row">
    <div class="col-lg-2 col-md-12 col-sm-12 one-col">
      <button class="btn  btn-add" (click)="showModal('firstModal')">الإعلان</button>
    </div>
    <div class="col-lg-2 col-md-12 col-sm-12 one-col">
      <div class="judge">
        <p>منع سفر</p>
        <img src="assets/Travel_Block_Icon.png" class="judge-img" alt="">
      </div>
    </div>
    <div class="col-lg-3 col-md-12 col-sm-12 one-col">
      <div class="names">
        <p>محمد خالد عبدالله أحمد</p>
        <p>محمد خالد عبدالله أحمد</p>
      </div>
    </div>
    <div class="col-lg-3 col-md-12 col-sm-12 one-col">
      <p>محمد خالد عبدالله أحمد</p>
    </div>
    <div class="col-lg-2 col-md-12 col-sm-12 one-col">
      <p class="id">64784676</p>
      <div class="time-day">
        <p>2024/8/26</p>
        <p>الاثنين</p>
      </div>
    </div>
  </div>


  <div class="row mt-3 item-row">
    <div class="col-lg-2 col-md-12 col-sm-12 one-col">
      <button class="btn  btn-add">الإعلان</button>
    </div>
    <div class="col-lg-2 col-md-12 col-sm-12 one-col">
      <div class="judge">
        <p>منع سفر</p>
        <img src="assets/Travel_Block_Icon.png" class="judge-img" alt="">
      </div>
    </div>
    <div class="col-lg-3 col-md-12 col-sm-12 one-col">
      <div class="names">
        <p>محمد خالد عبدالله أحمد</p>
        <p>محمد خالد عبدالله أحمد</p>
      </div>
    </div>
    <div class="col-lg-3 col-md-12 col-sm-12 one-col">
      <p>محمد خالد عبدالله أحمد</p>
    </div>
    <div class="col-lg-2 col-md-12 col-sm-12 one-col">
      <p class="id">64784676</p>
      <div class="time-day">
        <p>2024/8/26</p>
        <p>الاثنين</p>
      </div>
    </div>
  </div>

  <div class="row mt-3 item-row">
    <div class="col-lg-2 col-md-12 col-sm-12 one-col">
      <button class="btn  btn-add">الإعلان</button>
    </div>
    <div class="col-lg-2 col-md-12 col-sm-12 one-col">
      <div class="judge">
        <p>منع سفر</p>
        <img src="assets/Travel_Block_Icon.png" class="judge-img" alt="">
      </div>
    </div>
    <div class="col-lg-3 col-md-12 col-sm-12 one-col">
      <div class="names">
        <p>محمد خالد عبدالله أحمد</p>
        <p>محمد خالد عبدالله أحمد</p>
      </div>
    </div>
    <div class="col-lg-3 col-md-12 col-sm-12 one-col">
      <p>محمد خالد عبدالله أحمد</p>
    </div>
    <div class="col-lg-2 col-md-12 col-sm-12 one-col">
      <p class="id">64784676</p>
      <div class="time-day">
        <p>2024/8/26</p>
        <p>الاثنين</p>
      </div>
    </div>
  </div>

  <div class="row mt-3 item-row">
    <div class="col-lg-2 col-md-12 col-sm-12 one-col">
      <button class="btn  btn-add">الإعلان</button>
    </div>
    <div class="col-lg-2 col-md-12 col-sm-12 one-col">
      <div class="judge">
        <p>منع سفر</p>
        <img src="assets/Travel_Block_Icon.png" class="judge-img" alt="">
      </div>
    </div>
    <div class="col-lg-3 col-md-12 col-sm-12 one-col">
      <div class="names">
        <p>محمد خالد عبدالله أحمد</p>
        <p>محمد خالد عبدالله أحمد</p>
      </div>
    </div>
    <div class="col-lg-3 col-md-12 col-sm-12 one-col">
      <p>محمد خالد عبدالله أحمد</p>
    </div>
    <div class="col-lg-2 col-md-12 col-sm-12 one-col">
      <p class="id">64784676</p>
      <div class="time-day">
        <p>2024/8/26</p>
        <p>الاثنين</p>
      </div>
    </div>
  </div>
</div>



<!-- First Modal -->
<div class="modal fade" id="firstModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="firstModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header modal-header2">
        <button type="button" class=" btn-close" (click)="hideModal('firstModal')"></button>

      </div>
      <div class="modal-body text-center">
        <div class="text-center">
          <p class="title-po-1">يُرجى تحديد نوع الإعلان</p>
          <div class="two-text">
            <p>9675343</p>
            <p>الرقم الآلي للقضية</p>
          </div>

          <!-- Options for the user -->
          <div class="control-group">
            <label class="radio-inline-2" >
              <input type="radio" name="option" value="option2"  id="option2" (change)="onIsCalc(false)"> أخري
            </label>
            <div [class.hidden]="!isCalc" class="options">
              <div class="two-btns">
                  <button class="btn btn-options"[ngClass]="{  'btn-options-active btn-options-above': selectedOption == 'option1',
  'btn-options-inactive btn-options-below-right': selectedOption != 'option1'}" (click)="onOptionChange('option1')">مؤقته</button>
                  <button class="btn btn-options "  (click)="onOptionChange('option2')" [ngClass]="{'btn-options-active btn-options-above': selectedOption == 'option2',
  'btn-options-inactive btn-options-below-left': selectedOption != 'option2'}">نهائية</button>
                </div>

                  <div [class.hidden]="selectedOption === 'option2'" >
                    <div class="row   dates mb-3">
                      <div class="input-container">
                        <input
                          class="form-control form-control-pop datee"
                          type="text"
                          placeholder="تبدأ من"

                        />
                        <img src="assets/calendar-icon.png" alt="Calendar Icon" class="calendar-icon" />
                      </div>
                      <div class="input-container">
                        <input
                          id="elemnt-get-time-2"
                          class="form-control form-control-pop datee"
                          type="text"
                          placeholder="تنتهي في"

                        />
                        <img src="assets/calendar-icon.png" alt="Calendar Icon" class="calendar-icon"  />
                      </div>


                      <div class="dropdown choose-money "[ngClass]="{'shown-drops': isDropdownOpen}" (click)="toggleDropdown()">
                        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                          <div class="text-drop">
                            <img src="assets/trades.png" alt="">
                            {{ getSelectedValue('dropdown3') }}

                          </div>
                        </button>
                        <ul class="dropdown-menu">
                          <li><a class="dropdown-item" (click)="selectDuration('dropdown3','شهري')">شهري</a></li>
                          <li><a class="dropdown-item" (click)="selectDuration('dropdown3','أسبوعي')">أسبوعي</a></li>
                          <li><a class="dropdown-item" (click)="selectDuration('dropdown3','يومي')">يومي</a></li>
                        </ul>
                      </div>
                    </div>
                    <div class="input-group mb-3">
                      <div class="dropdown kuwait">
                        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                          <img src="assets/kuwait.png" alt="">
                          <!-- Bind the button text to the selectedDuration variable -->
                          {{ getSelectedValue('dropdown1') }}                        </button>
                        <ul class="dropdown-menu">
                          <li><a class="dropdown-item" (click)="selectDuration('dropdown1','شهري')">شهري</a></li>
                          <li><a class="dropdown-item" (click)="selectDuration('dropdown1','أسبوعي')">أسبوعي</a></li>
                          <li><a class="dropdown-item" (click)="selectDuration('dropdown1','يومي')">يومي</a></li>
                        </ul>
                      </div>

                      <input type="text" class=" moenyinput-r form-control" placeholder="يُرجى إدخال مبلغ الزيادة"
                        aria-describedby="button-addon1">
                      <div class="search-div-drop">
                        <img src="assets/money.png" class="search-btn" alt="">
                      </div>
                    </div>
                  </div>
                  <div [class.hidden]="selectedOption === 'option1'" >
                    <div class="input-group mb-3 mt-3">
                      <div class="dropdown kuwait">
                        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                          <img src="assets/kuwait.png" alt="">
                          <!-- Bind the button text to the selectedDuration variable -->
                          {{ getSelectedValue('dropdown2') }}                               </button>
                        <ul class="dropdown-menu">
                          <!-- Call selectDuration() with the selected item text -->
                          <li><a class="dropdown-item" (click)="selectDuration('dropdown2','شهري')">شهري</a></li>
                          <li><a class="dropdown-item" (click)="selectDuration('dropdown2','أسبوعي')">أسبوعي</a></li>
                          <li><a class="dropdown-item" (click)="selectDuration('dropdown2','يومي')">يومي</a></li>
                        </ul>
                      </div>
                      <input type="text" class=" moenyinput-r form-control" placeholder="يُرجى إدخال مبلغ الزيادة"
                        aria-describedby="button-addon1">
                      <div class="search-div-drop">
                        <img src="assets/money.png" class="search-btn" alt="">
                      </div>
                    </div>
                  </div>

              </div>
              <label class="radio-inline-1" [ngClass]="{  'options-bo': isCalc}">
               <div class="col col-in-col">
                  <p class="">المبلغ</p>
                  <p class="">750 د.ك</p>
               </div>
               <div class="img-t" >
                 <input type="radio" name="option" value="option1" id="option1" (change)="onIsCalc(true)">
                 <img src="assets/calc.png" alt="">
                 <p>حسبة</p>
               </div>
              </label>

           </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="showModal('secondModal')">
          تأكيد الإعلان
          <img src="assets/checkmark_white.png" alt="">

        </button>

        <button type="button" class="btn btn-primary btn-back" (click)="hideModal('firstModal')">
          عوده
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Second Modal -->
<div class="modal fade" id="secondModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="secondModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class=" btn-close" (click)="hideModal('secondModal')"></button>
        <div class="header-title">
          <p class="modal-title " id="staticBackdropLabel">التنفيذ</p>
          <img src="assets/flag.png" alt="">
        </div>
      </div>
      <div class="modal-body text-center">
        <p>إجمالي مبلغ الحسبة</p>
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-12 d-flex justify-content-center">
            <div class="sm-card mt-3">
              <img src="assets/money.png" alt="Travel Ban">
              <p class="number-money">4,250</p>
              <p>دينار كويتي</p>
            </div>

          </div>
          <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="row  modal-cols">
              <div class="col-8">
                <p>64784676</p>
                <p>محمد خالد عبدالله</p>
                <p>حور احمد كامل الفضلي</p>
                <div class="statuesplus pluspop">
                  <p>تم دفع المبلغ</p>
                  <img src="assets/check-mark.png" alt="">
                </div>
                <p>3/9/2024</p>
              </div>
              <div class="col-4">
                <p>الرقم الآلي</p>
                <p>المدعي</p>
                <p>المدعى عليه</p>
                <p>الحالة</p>
                <p>التاريخ</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary"
          (click)="hideModal('secondModal');hideModal('firstModal');showModal('thirdModal')">
          تنفيذ الإجراء
          <img src="assets/checkmark_white.png" alt="">
        </button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="thirdModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="secondModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header modal-header2">
        <button type="button" class=" btn-close" (click)="hideModal('thirdModal')"></button>

      </div>
      <div class="modal-body text-center success-text-modal">
        <img src="assets/copy.png" alt="">
        <p class="success-text">تم الإعلان بنجاح</p>
        <p>سيتم إغلاق النافذة تلقائياً بعد لحظات</p>
      </div>
    </div>
  </div>
</div>

